@import '~src/scss/_variables.scss';

.mat-table {
  margin-bottom: 0;
  margin-top: 1rem;

  .mat-header-row{
    background-color: $primary-color;
  }

  .mat-header-cell {
    color: $secondary-text-color;
    padding-right: 1rem;
  }

  .mat-cell {
    vertical-align: middle;
  }

  .row--blue {
    background-color: aliceblue;
  }
}

.bi-search {
  margin-right: 1rem;
}